<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css"
      rel="stylesheet"
    />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
  </head>

  <body>
    <div class="container">
      <h1>Add a review about {{dealer.full_name}}</h1>
      <form action="{% url 'djangoapp:add_review' dealer_id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label><b>Enter the review content:</b></label>
          <textarea
            class="form-control"
            id="content"
            name="content"
            row="2"
            placeholder="Add review"
            required
          >
          </textarea>
        </div>
        <div class="form-group">
          <label>Has purchased the car from {{dealer.full_name}} ?</label>
          <input
            style="margin-left: 10px"
            class="form-check-input"
            type="checkbox"
            name="purchasecheck"
            id="purchasecheck"
          />
        </div>
        <div class="form-group">
          <label><b>Select your car (model-make-year): </b></label>
          <select name="car" id="car" class="form-select" required>
            {% for car in cars %}
            <option selected value="{{car.id}}">
              {{car.name}}-{{car.carMake.name}}-{{ car.year|date:"Y" }}
            </option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label>Select your purchase date:</label
          ><input
            class="date-own form-control col-3"
            type="text"
            name="purchasedate"
            id="purchasedate"
            placeholder="Purchase date"
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <script type="text/javascript">
      $('.date-own').datepicker({
        format: 'mm/dd/yyyy',
      });
    </script>
  </body>
</html>