<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="h-100">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <nav class="navbar navbar-expand-lg navbar-light bh-light">
            <div class="container d-flex flex-wrap">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item px-2">
                        <a class="nav-link" href="{% url 'djangoapp:index' %}">Home</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="container mt-auto">
            <div>
                <h2>Contact us</h2>
            </div>
            <div>
                <p>Address: r000 Pitt street, sydney, 2000 NSW </p>
                <p>Phone number: 0800 000 000</p>
            </div>
        </section>
        <footer class="mt-auto">
            <div class="container">
                <a href="contact">Contact us</a>
            </div>
        </footer>
    </div>
</body>
</html>